Flask==0.10.1
Flask-Admin==1.0.6
-e git+https://github.com/mitsuhiko/flask-sqlalchemy@d4560013c1c51ef035381e35dd42a1628bb212ee#egg=Flask_SQLAlchemy-origin/HEAD
Flask-WTF==0.8.4
Jinja2==2.7.1
MarkupSafe==0.18
SQLAlchemy==0.8.2
WTForms==1.0.5
Werkzeug==0.9.4
argparse==1.2.1
itsdangerous==0.23
psycopg2==2.5.1
wsgiref==0.1.2
